
@{
    Layout = null;
}

<!doctype html>
<html lang="zxx">

    <partial name="~/Views/UILayoutPartial/_HeadPartial.cshtml" />

<body>
    <!--header-->
    <partial name="~/Views/UILayoutPartial/_HeaderPartial.cshtml" />

    @RenderBody()
    <partial name="~/Views/UILayoutPartial/_FooterPartial.cshtml" />
    <partial name="~/Views/UILayoutPartial/_ScriptPartial.cshtml" />
    

</body>

</html>
